@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sofia+Sans+Extra+Condensed&family=Source+Sans+Pro:ital@1&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
    }

    header{
width: 100%;
top: 0;
left: 0;
background: #fff;
 }

 .menu{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
 }

 .logo img{
  width: 200px;
  margin-left: -90px;
   }
  
   .buscador input{
  width: 100%;
  padding: 8px;
  background: #C40E0E;
  color: #fff;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 80px;
   }
  
   .buscador input{
     width: 340px;
     padding: 8px;
     background: #C40E0E;
     color: #fff;
     border-radius: 20px;
     margin-top: 30px;
     margin-left: 100px;
      }
      
     
      .boton{
        border: 3px solid #1bd640;
        margin-left: 1060px;
        margin-top: -100px;
        position: absolute;
        padding: 10px 30px;
        z-index: 1;
        overflow: hidden;
        color: #000;
      }
     
      .boton::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1bd640;
        left: 0;
        top: -100%;
        border-radius: 100%;
        z-index: -1;
        transition: all 0.6s ease;
      }
     
      .boton:hover::before{
        top:0;
        border-radius: 0%;
      }
     
      .cotiza{
        border: 3px solid #000;
        margin-left: 900px;
        margin-top: -100px;
        position: absolute;
        padding: 10px 30px;
        z-index: 1;
        overflow: hidden;
        color: #c4b9b9;
      }
     
      .cotiza::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: 0;
        top: -100%;
        border-radius: 100%;
        z-index: -1;
        transition: all 0.6s ease;
      }
     
      .cotiza:hover::before{
        top:0;
        border-radius: 0%;
      }
      .Nosotros{
        border: 3px solid #C40E0E;
        margin-left: 740px;
        margin-top: -100px;
        position: absolute;
        padding: 10px 30px;
        z-index: 1;
        overflow: hidden;
        color: #000;
      }
     
      .Nosotros::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #C40E0E;
        left: 0;
        top: -100%;
        border-radius: 100%;
        z-index: -1;
        transition: all 0.6s ease;
      }
     
      .Nosotros:hover::before{
        top:0;
        border-radius: 0%;
      }
     
      .usuario{
        width: 65px;
     margin-left: 1250px;
     position: absolute;
     margin-top: -110px;
      }
   .contenedor{
     
      width: 100%;
      height: 50px;
      background: #C40E0E;
      padding: 0px 20px;
      justify-content: center;
   }
    
    
    
   .menu1{
  max-width: 1200px;
      margin: auto;
      height: 100%;
     
   }
  
   nav{
      height: 100%;
   }
  
   nav > ul{
      height: 100%;
      display: flex;
   }
  
   nav  ul li{
      height: 100%;
      list-style: none;
      position: relative;
   }
  
   
   nav > ul > li > a{
      width: 100%;
      height: 100%;
      display: flex;
      color:#fff;
      padding: 20px;
      text-transform: uppercase;
      font-size: 20px;
      transition: all 300ms ease;
      margin-top: -55px;
      padding-left: 80px;
      text-align: left;
  
  }
  
   nav > ul > li > a:hover{
      transform: scale(1.1);
      background: #c4b9b9;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
   }
  
   nav ul li ul{
      width: 250px;
      display: flex;
      flex-direction: column;
      background: #968a8a;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      position: absolute;
      left: -3px;
      top:20px;
      box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
      padding: 10px 0px;
      visibility: hidden;
      opacity: 0;
      z-index: 10;
  transition: all 300ms ease;
   }
  
   nav ul li:hover ul{
      visibility: visible;
      opacity: 1;
      top:20px;
   }
  
   nav ul li ul:before{
      content:'' ;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid black;
      position: absolute;
      top: -12px;
      left: 2px;
   }
  
   nav ul li ul li a{
  display: block;
  color: #fff;
  padding: 6px;
  padding-left: 12px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
   }
  
   nav ul li ul li a:hover{
  background: #C40E0E;
  color: black;
  transform: scale(1.1);
  box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
   }
  


 section h1{
text-align: center;
   margin-top: 60px;
color: #000;
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin-left: 300px;
}

.contenedor1{
   width: 100%;
   max-width: 1000px;
   display:inline-flex;
}


   
   .tarjeta1{
      width: 45%;
      margin: 10%;
      margin-top: 60px;
      border-radius: 10px;
      overflow: hidden;
      background: #fff;
      box-shadow: 10px 5px 5px rgba(221, 5, 5, 0.2);
      cursor: default;
      transition: all 400ms ease;
      margin-left: 420px;
      } 
  
      .tarjeta1:hover{
          box-shadow: 5px 5px 20px rgba(0,0,0,0.4);  
          transform: translateY(-3%);
      }
  
      .tarjeta1 img{
      width: 70%;
      height: 370px;
      margin-left: 45px;
      margin-top: -20px;
      }
  
      .tarjeta1 h1{
          margin-left: -10px;
          font-family:Verdana, Geneva, Tahoma, sans-serif; 
          margin-top: 1px;; 
          font-size: 30px;
          
      }
      
  
      .tarjeta1 p{
          color: #6a6a6a;
          text-align: center;
          line-height: 1.2;
          font-size:medium;
      }
  
      
  

      .tarjeta2{
         width: 45%;
         margin: 20%;
         margin-top: 100px;
         border-radius: 10px;
         overflow: hidden;
         background: #fff;
         box-shadow: 10px 5px 5px rgba(221, 5, 5, 0.2);
         cursor: default;
         transition: all 400ms ease;
         margin-left: 65px;
         } 
 
         .tarjeta2:hover{
             box-shadow: 5px 5px 20px rgba(0,0,0,0.4);  
             transform: translateY(-3%);
         }
 
         .tarjeta2 img{
             width: 70%;
             height: 340px;
             margin-left: 70px;
             margin-top: 18px;
             }
 
         .tarjeta2 h1{
             text-align: center;
              font-family:Verdana, Geneva, Tahoma, sans-serif;
              margin-left: 25px;  
              margin-top: 15px;
         }
 
         .tarjeta2 p{
             color: #6a6a6a;
             text-align: center;
             line-height: 1.2;
             font-size: 18px; 
         }
         .tarjeta3{
            width: 45%;
            margin: 20%;
            margin-top: -690px;
            border-radius: 10px;
            overflow: hidden;
            background: #fff;
            box-shadow: 10px 5px 5px rgba(221, 5, 5, 0.2);
            cursor: default;
            transition: all 400ms ease;
            margin-left: 750px;
            } 
    
            .tarjeta3:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);  
                transform: translateY(-3%);
            }
    
        .tarjeta3 img{
             width: 70%;
             height: 300px;
             margin-left: 70px;
             margin-top: 28px;
             }
    
             .tarjeta3 h1{
                text-align: center;
                 font-family:Verdana, Geneva, Tahoma, sans-serif;  
                 line-height: 1.5;
                 margin-left: 45px;
            }
    
            .tarjeta3 p{
                color: #6a6a6a;
                text-align: center;
                line-height: 1.2;
                font-size: 18px;
            }
            .tarjeta3 a{
                text-decoration: none;
                display: inline-block;
                padding: 5px;
                margin-top: 10px;
                margin-left: 200px;
                font-size: 15px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                color: #C40E0E;
            }

            .mas img{
               width: 100px;
               position: absolute;
               margin-top: -500px;
               margin-left: 600px;

            }

            .fondo img{
               width: 134%;
               height: 400px;
               margin-top: -70px;
               border-radius: 40px;
           }
   
           .fondo h1{
               color: #fff;
               position: absolute;
               margin-left: 400px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               margin-top: -30px;
           }
   
           .fondo h3{
               color: #fff;
               position: absolute;
               margin-left: 580px;
               margin-top: 30px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
           }
   
           .celular img{
           width: 100px;
           margin-top: -280px;
           margin-left: 170px;
           position: absolute;
           }
           .celular .linea{
               margin-left: 300px;
               margin-top: -300px;
               width: 150px;
           }
   
           .celular h2{
               color: #fff;
               position: absolute;
               margin-top: -150px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               margin-left: 95px;
               
               
           }
   
           .celular p{
               position: absolute;
               margin-top: -120px;
               text-align: center;
               color: #fff;
               margin-left: 96px;
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               
           }
   
   
           .carro img{
               width: 125px;
               height: 100px;
               position: absolute;
               margin-top: -260px;
               margin-left: 470px;
           }
   
           .carro h2{
               color: #fff;
               position: absolute;
               margin-top: -150px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               margin-left: 500px;
           }
   
           .carro p{
               position: absolute;
               margin-top: -120px;
               text-align: center;
               color: #fff;
               margin-left: 420px;
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               line-height: 1.5;
               
           }
   
           .reparar img{
               width: 120px;
               height: 120px;
               position: absolute;
               margin-top: -280px;
               margin-left: 810px; 
           }
   
           .reparar .linea1{
               margin-left: 650px;
               margin-top: -280px;
               width: 150px;
               position: absolute;
           }
   
           .reparar h3{
               color: #fff;
               position: absolute;
               margin-top: -160px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               margin-left: 798px;  
           }
   
           .reparar p{
               position: absolute;
               margin-top: -118px;
               text-align: center;
               color: #fff;
               margin-left: 730px;
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               line-height: 1.5;
               
           }
   
           .pagar img{
               width: 120px;
               height: 120px;
               position: absolute;
               margin-top: -334px;
               margin-left: 1140px; 
           }
   
           .pagar .linea2{
               margin-left: 950px;
               margin-top: -340px;
               width: 150px;
               position: absolute;
           }
   
           .pagar h3{
               color: #fff;
               position: absolute;
               margin-top: -210px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               margin-left: 1088px;   
           }
   
           .pagar p{
               position: absolute;
               margin-top: -175px;
               text-align: center;
               color: #fff;
               margin-left: 1070px;
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               line-height: 1.5;   
           }

           .fondo2 .fondo3{
            width: 1270px;
            margin-top: 90px;
            margin-left: 40px;
            height: 450px;
            border-radius: 20px;
           }

           .fondo2 .parrafo{
            color:#000;
            position: absolute;
            margin-top: 150px;
            margin-left: 90px;
            font-size: 22px;
           }
           .fondo2 .linea3{
            position: absolute;
            margin-top: 220px;
            width: 500px;
            margin-left: 90px;
           }

           .fondo2 p{
            color: #000;
            position: absolute;
            margin-top: 320px;
            margin-left: 90px;
            font-size: 22px;
           }

           .fondo2 h3{
            position: absolute;
            color: #C40E0E;
            margin-top: 450px;
            margin-left: 140px;
           }

           .fondo2 .titulo{
            position: absolute;
            margin-left: 850px;
            margin-top: 150px;
            color: #C40E0E;
           }

           .fondo2 .h1{
            position: absolute;
            color: #C40E0E;
            margin-top: 180px;
           }

          

           .fondo2 .titulo1{
           margin-top: 180px;
          position: absolute;   
          font-size: 25px;
          margin-left: 800px;   
         }

         .fondo2 .titulo2{
          margin-top: 220px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }

        .fondo2 .titulo3{
          margin-top: 260px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }

        .fondo2 .titulo4{
          margin-top: 300px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }

        .fondo2 .titulo5{
          margin-top: 345px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }

        .fondo2 .titulo6{
          margin-top: 390px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }

        .fondo2 .titulo7{
          margin-top: 430px;
         position: absolute;   
         font-size: 25px;
         margin-left: 800px;   
        }




         
        
      footer{
         width: 100%;
         height: 255px;
         padding: 40px 0px;
         background: #000;
         margin-top: 40px;
         position: absolute;
         margin-top: 2500px;
      }

      .pagina h1{
        color: #fff;
        font-size: 20px;
        margin-left: 30px;
      }

      .pagina h2{
        color: #fff;
        font-size: 20px;
        margin-left: 10px;
        padding: 15px;
      }

      .redes h1{
        text-align: center;
        margin-top: -100px;
      }

      .redes .face{
        width: 80px;
        position: absolute;
        margin-left: 490px;
        padding: 10px;
      }

      .redes .insta{
        position: absolute;
        width: 80px;
        margin-left: 590px;
        padding: 10px;
      }

      .redes .tiktok{
        width: 80px;
        position: absolute;
        margin-left: 690px;
        padding: 10px;
      }

      .redes .youtube{
        width: 80px;
        position: absolute;
        margin-left: 800px;
        padding: 10px;
      }

      .visitarnos1 h2{
        color: #fff;
        text-align: right;
        margin-top: -40px;
        font-size: 20px;

      }

      .visitarnos1 .mapa{
        position: absolute;
        width: 50px;
        margin-top: -10px;
        margin-left: 1200px;
      }

      .terminos {
        color: #fff;
        margin-top: 90px;
        text-align: center;
        padding-top: 25px;
      }




     

      
      




   